body{
background:url(Skins/@{theme}/images/background_image.png) repeat;
}
a, a:focus { color: @black; }

a:hover { color: @gray; }

#header { 
    a{
        img#logo{
        padding-top:35px;
        }
    }
    #welcome { 
    color: @white;  }
}

#container-main {
	background:#ffffff url('Skins/@{theme}/images/black_gradient.jpg') repeat-x top left;  
	border-top:1px solid @black;
}
.btnStandard {
    .uni-button(@blue);
    float:none;
}
.btnStandardDisabled {
    .uni-button(lighten(@blue, 30%));
}
.btnConfirm {
    .uni-button(@blue);
}
.btnConfirmDisabled {
    .uni-button(lighten(@blue, 30%));
}
.btnCancel {
    .uni-button(@red);
}
.btnCancelDisabled {
    .uni-button(lighten(@red, 30%));
}
#insert_save_btn_notes {
    .uni-button(@blue);
}

#cancel_btn_notes, #cancel_btn_apt{
    .uni-button(@red);
}
 .form-button{
    color: white;
    background:url('Skins/@{theme}/images/black_gradient.jpg') repeat-x top left;
    border:1px solid @blue;
}
a#RATCancelSelection.form-button, input#cancel_btn_note{
    color: white;
    background:@red;
    border:1px solid @redDark;
}
a#RATCancelSelection.form-button:hover, .bottomButtons input#cancel_btn_note:hover{
    color: @gray;
    background:@redDark;
    border:1px solid @redDark;
}
legend{
    color: @black;
	}

#menu { 
    position:relative;
    top:10px;
    zoom:1;
    z-index:1;
    //background: darken(@blue, 3%); 
    height: 50px !important;
    button {
        border-top:5px solid darken(@gray, 30%) !important;
	background:#333333;
        //width:115px !important;
        border-left:1px solid saturate(@black, 10%) !important;
	border-right:1px solid darken(@gray, 30%) !important;
	border-bottom:1px solid saturate(@black, 20%) !important;
        font-size:13px;
        line-height:18px;
        span{
        padding:3px 5px !important;
        }

    } 
    button:hover{
	color:@grayLightest;
	background: darken(@blue, 10%);
        border-top:5px solid darken(@blue, 15%) !important;
	border-left:1px solid @blueDark;
	border-right:1px solid saturate(@blueDark, 10%);
	border-bottom:1px solid saturate(@blueDark, 20%);
        text-decoration:none;
	}
	button:active{
	background: darken(@blue, 15%);
        border-top:5px solid saturate(@blueDark, 45%) !important;
        border-left:1px solid darken(@blueDark, 10%) !important;
	border-right:1px solid saturate(@blueDark, 20%) !important;
        border-bottom: 1px solid @white;
	color:@white !important;
	}
    .disabled { color:@white;}
    .disabled:hover { .gradient(#f4f4f4, #f2f2f2); text-shadow: 0 1px 0 @gray;  border:1px solid #dddddd; }
}

.breadcrumb {
    div { 
        color: @black;
        a { color: @black; }
		 background: #EFEFEF;
    	border: 1px solid #CDCDCD;
        a:hover { color: @gray; }
    }
}

.btnPositive, .btnNegative { 
    text-decoration:none;
    color:@white;
    padding: 3px 5px; 
    .box-shadow-glow; 
    .border-radius(0px);
    .box-shadow-inset;
    .box-shadow-glow;
    margin-left: 5px; 
    margin-right: 5px;
    position:relative;
    cursor:pointer;
    display:inline-block;
}

.btnPositive {
    background-color:@blueLight;
    .gradient(@blueLight, @blueDark);
}

.btnNegative {
    background-color:#e1253b;
    .gradient(#f12a41, #e1253b);
}
#jobSearchForm a, #productSearchForm a, #newJobBookingForm a, #policySearchForm a {
    .uni-button(@blue);
    margin-bottom:10px;
    float:none;
}
#policySearchForm fieldset p span a, #jobSearchForm fieldset p span a{
    float:right;
    position: relative;
}

/* logout button */

html body div#container-main div#header span#welcome a{
.uni-button(darken(@gray, 30%));
margin-top:4px;
position:relative;
zoom:1;
bottom:5px;
left:5px;
}

/*  Default Diary  */

.siteMapPanel {

 .borderDiv {
   border-color:#CCCCCC;
   border-width:1px;
   border-style:solid;
 }
 
 #thirdDiv{
.form-button{
border:1px solid @black;
  }
 }
}


#JobNetworkClientForm
{
        .form-button {
			border:1px solid @black;
        }
}

.jobBookingPanel {
    .blueText { color:@black; }
    form {
        .form-button {
			border:1px solid @black;
        }
    }
}

.DTTT_button {
   .uni-button(@blue);
    float:none;
    margin-right:0px;
}

.blueBtn {
   .uni-button(@blue);
    float:right;
}

a.inline-edit{
    .uni-button(@blue);
    float:right;
}

a.colorbox{
    .uni-button(@blue);
    float:right;
}

#timeline_container {
    .past, .past-RED { background: url("Skins/@{theme}/images/past.png") no-repeat center 35px; }
    .present {background: url("Skins/@{theme}/images/present.png") no-repeat center 35px; }
    .present-RED {background: url("Skins/@{theme}/images/present-red.png") no-repeat center 35px; }
    .future, .future-RED { background: url("Skins/@{theme}/images/future.png") no-repeat center 35px; } 
    }

form {
input#quick_find_btn,input#quick_find_btn2 {
        background-image:url('Skins/@{theme}/images/find_address.png');
    }  
}

.raJobsPanel {
   .leftAlign {
        color:@black;
    }
}


#CustomerDetails fieldset legend{
background-image: url(Skins/@{theme}/images/icons_skyline/icons_skyline_user.png);
}

#deliveryAddress fieldset legend{
    background-image: url(Skins/@{theme}/images/icons_skyline/icons_skyline_truck.png) !important;
}

#jobdetails{
    margin-top:20px !important;
    .head{
        background:@black;
    }
}
* html #jobdetails .head .icon_c, #jobdetails .head .icon_e{
	//background: url("Skins/@{theme}/images/accordion_icons.jpg") no-repeat scroll 0 top transparent;
}

.paging_full_numbers a.paginate_button, .paging_full_numbers {
    color: @black;
}

.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
    color:@grayDark;
}

a.paginate_active{
    color:@black !important;
}

form{
    input.textSubmitButton{
    .uni-button(@blue);
    }
}

.tableHover {
	background-color: @grayLight;
}

.CsvButton {
    background-image: url("Skins/@{theme}/images/button_gradients.png");
    border: 1px solid @black;
}


.AdminItemPanel{
background:url("Skins/@{theme}/images/folder.png") no-repeat 20px 20px;
label{
color: @black;
}
}

.bottomButtonsPanel button#finish_btn.gplus-blue{
float:right !important;
}

#loginForm p span a, #loginForm p span a:hover, #loginForm p span a:active,
#loginForm.prepend-5 fieldset p span a[href*="/skyline_samsung/index/index"],
#newuser.main form#newUserForm.prepend-5 fieldset p span a, 
html body div#container-main div#newuser.main form#newUserForm.prepend-5 fieldset p a {
.uni-button(@blue);
padding-bottom:2px;
}
#cancel_email_btn{
button.gplus-red;
background: @red !important;
margin-top:2px;
margin-bottom:2px;
}

.buttonPanel span#cancel a button.gplus-blue{
button.gplus-red;
background: @red !important;
margin-top:2px;
margin-bottom:2px;
}
.jobConfirmation{
    //.uni-button(@blue);
}
#csvSelect {
    .uni-button(@blue);
    position:relative;
    bottom:30px;
    width:100px;
}
#DivEditAddress {
    form {
        .uni-button(@blue);
    }
}
input#quick_find_btn.textSubmitButton{
    //float: right;
    //margin-right:50px;
}
.weekButtonsActive, .subMenuButtonsActive{
    .uni-button(@blue);
    margin:0px;
    padding:0px;
}

fieldset { 
    border: 1px solid @gray !important; 
    .border-radius(2px);
}

/* edit buttons underlined */
#jobdetails form#CustomerDetails fieldset p.contact-info span a.colorbox,
#jobdetails #timeline_container.clearfix fieldset div a#editStatus.DTTT_button,
#jobdetails form#deliveryAddress fieldset p.contact-info span a#deliveryAddressEdit.colorbox,
#jobdetails #ProductDetailsPanel form#ProductDetails fieldset div#ProductDetailsFormPanel p a#productDetailsEdit.inline-edit,
#jobdetails #EQ1 #AdditionalPanels form#AdditionalInformation fieldset div#AdditionalInformationFormPanel p a.inline-edit,
#jobdetails #EQ1 #IssueReportPanels form#BookedBy fieldset p.clear a.colorbox,
#jobdetails #EQ1 #AdditionalPanels form#AdditionalNotes fieldset div#AdditionalNotesFormPanel p a.inline-edit,
#jobdetails #EQ1 #IssueReportPanels form#IssueReport fieldset div#IssueReportFormPanel p a.inline-edit,
#jobdetails #accessoriesWrapper fieldset div#accessoriesButtons a#accessoriesEdit.btnStandard,
#jobdetails #conditionWrapper fieldset div#accessoriesButtons a#conditionEdit.btnStandard,
#jobdetails #ServiceCentre fieldset p.contact-info span a.colorbox,
#jobdetails #ServiceReport fieldset div#ServiceReportPanel p a.inline-edit,
#CustomerDetails fieldset a.top-right,
#deliveryAddressEdit.top-right,
#ServiceCentre fieldset a.top-right{
    //color:darken(@gray, 30%) !important;
    //text-decoration:underline !Important;
}

#insert_save_btn_notes{
    .uni-button(@blue);
}

#jobdetails.main div#conditionWrapper fieldset div#accessoriesButtons a#conditionSave.btnConfirm,
.btnConfirm, #jobsDiv fieldset#updateFieldset a#updateStatusBtn.blueBtn, .blueBtn{
   .uni-button(@blue);
}

#Tab1.ui-state-default a#ui-id-1.TimeSlotActiveTab,
#Tab2.ui-state-default a#ui-id-2.TimeSlotActiveTab,
#Tab3.ui-state-default a#ui-id-3.TimeSlotActiveTab{
    color:@white !important;
}

#Tab1.ui-state-default a#ui-id-1.TimeSlotActiveTab,
#Tab2.ui-state-default a#ui-id-2.TimeSlotActiveTab,
#Tab3.ui-state-default a#ui-id-3.TimeSlotActiveTab{
    color:@white !important;
}
#transactionReportForm {
    .ui-button .ui-button-text {
	display: block !important;
    }
    .ui-combobox span {
	padding: 0;
    }
    .ui-combobox a {
	right: 3px;
	top: 5px;
	display: inline-block !important;
	height: 17px;
	width: 20px;
    }
    .ui-combobox input {
	width: 255px;
	height: 22px;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	color: #737373;
	font-size: 12px;
    }
    label {
	width: 90px;
	margin-right:0;
    }
}
#RAStatusIDElement span.ui-combobox a.ui-button{
    position: absolute;
}