 <script type="text/javascript">   
     
 $(document).ready(function() {
 
    
   }); 
   
  </script>  
    
    <div id="AccessoriesFormPanel" class="SystemAdminFormPanel" >
    
                <form id="AccessoriesForm" name="AccessoriesForm" method="post"  action="{$_subdomain}/LookupTables/saveAccessory" class="inline" >
       
                <fieldset>
                    <legend title="" >Accessory</legend>
                        
                    <p><label id="suggestText" ></label></p>
                            <p>
                            <label ></label>
                            <span class="topText" >{$page['Text']['top_info_text1']|escape:'html'} <span>*</span> {$page['Text']['top_info_text2']|escape:'html'}</span>

                            </p>
                       
        
                       
                         
                         
                         <p>
                            <label class="cardLabel" for="StatusName" >Accessory Name:<sup>*</sup></label>
                           
                             &nbsp;&nbsp; <input  type="text" class="text"  name="AccessoryName" value="{$datarow.AccessoryName|escape:'html'}" id="AccessoryName" >
                        
                         </p>
                         <p>
                            <label class="cardLabel" for="UnitTypeID" >Unit Type:<sup>*</sup></label>
                           
                             &nbsp;&nbsp;  
                             <select name="UnitTypeID" id="UnitTypeID" class="text" >
                                <option value="" {if $datarow.UnitTypeID eq ''}selected="selected"{/if}>{$page['Text']['select_default_option']|escape:'html'}</option>

                                {foreach $unitTypes as $unitType}

                                    <option value="{$unitType.UnitTypeID}" {if $datarow.UnitTypeID eq $unitType.UnitTypeID}selected="selected"{/if}>{$unitType.UnitTypeName|escape:'html'}</option>

                                {/foreach}
                                
                            </select>
                          </p>
                         
                         
                         {if $datarow.AccessoryID neq '' && $datarow.AccessoryID neq '0'}
                             
                          <p>
                            <label class="cardLabel" for="Status" >{$page['Labels']['status']|escape:'html'}:<sup>*</sup></label>
                           
                             &nbsp;&nbsp; 
                        
                                {foreach $statuses as $status}

                                    <input  type="radio" name="Status"  value="{$status.Code}" {if $datarow.Status eq $status.Code} checked="checked" {/if}  /> <span class="text" >{$status.Name|escape:'html'}</span> 

                                {/foreach}    

                          </p>
                          
                         {/if}
                         <input type="hidden" name="AccessoryID" value="{$datarow.AccessoryID}">
                         <input type="hidden" name="UnitTypeIDHidden" value="{$datarow.UnitTypeID}">

                         <p>
                <hr>
                               
                                <div style="height:20px;margin-bottom: 10px">
                                <button type="submit" style="float: left" class="gplus-blue">Save</button>
                                <button type="button" onclick="$.colorbox.close();" style="float:right" class="gplus-blue">Cancel</button>
                                </div>
            </p>    

                           
                          
                         
                         


                </fieldset>    
                        
                </form>        
                        
       
</div>
                 
 
                          
                        
